# Ignore dataset files
*.csv
*.xlsx
*.xls

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db
